header{
font-size:27px;
background-color: #3498db;
}
.count{
    height:80%;
     width:50%;
    
}
.countt{
  position: relative;
}
.btn{
  position: relative;
  font-size: 40px;
  
}
 #icon{
  position: absolute;
  bottom:25%;
  left: 30%;
  width: 50px;
  font-size:20px;
  cursor: pointer;
 

}
.btn-circle {
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 15px;
  }
  .btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }